#componentImage {
  height: auto;
  max-width: 15%;
  margin-right: 10px;
  border-radius: 15%;
  object-fit: cover;
}

h1 {
  font-size: 48px;
  color: #cccccc; 
}

div, body {
  text-align: center;
  color: #e0e0e0;
  background-color: #1f1f1f;
}

#styling {
  margin: auto;
  width: 35%; 
  background-color: #2c2c2c; 
  padding: 1em;
  border-radius: 8px;
  border: 2px solid #888888; 
}

h3 {
  font-size: 2em;
  color: #cccccc; 
}

label {
  padding-right: 0.5em;
  color: #aaaaaa; 
}

button {
  border-radius: 0.5em;
  border: 1px solid #888888; 
  background-color: #333333; 
  color: #ffffff; 
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #888888; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: #2c2c2c; 
}

table th, table td {
  border: 1px solid #888888; 
  padding: 0.5em;
  text-align: center
}